{% extends "academia/base.html" %}
{% block title %}{{ programa.nombre }}{% endblock %}
{% block content %}
    <h2>{{ programa.nombre }}</h2>
    <p>{{ programa.descripcion }}</p>

    <h3>Cursos del programa</h3>
    <ul>
        {% for curso in programa.cursos.all %}
            <li>
                <a href="{% url 'academia:detalle_curso' curso.pk %}">
                    {{ curso.codigo }} - {{ curso.nombre }}
                </a>
            </li>
        {% empty %}
            <p>Este programa no tiene cursos registrados.</p>
        {% endfor %}
    </ul>
    <a href="{% url 'academia:lista_programas' %}">← Volver a Programas</a>
{% endblock %}