{% extends "academia/base.html" %}
{% block title %}{{ curso.nombre }}{% endblock %}
{% block content %}
    <h2>{{ curso.codigo }} - {{ curso.nombre }}</h2>
    <p><strong>Programa:</strong>
        <a href="{% url 'academia:detalle_programa' curso.programa.pk %}">
            {{ curso.programa.nombre }}
        </a>
    </p>

    <h3>Estudiantes inscritos</h3>
    <ul>
        {% for inscripcion in curso.inscripciones.all %}
            <li>
                <a href="{% url 'academia:detalle_estudiante' inscripcion.estudiante.pk %}">
                    {{ inscripcion.estudiante }}
                </a>
            </li>
        {% empty %}
            <p>No hay estudiantes inscritos en este curso.</p>
        {% endfor %}
    </ul>
    <a href="{% url 'academia:lista_cursos' %}">← Volver a Cursos</a>
{% endblock %}